body {
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	/* horizontal */
	align-items: center;
	/* vertical */
}


.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, auto);
	justify-items: center;
	align-items: center;
	column-gap: 30px;
}

.box-image {
	height: 70px;
	display: flex;
	/* border: 1px solid #000; */
}

.loginbox {
	margin: 10px;
	width: 200px;
	height: 300px;
	grid-column: 1 / span 2;
}

.loginbox h1 {
	text-align: center;
}

.loginbox div {
	text-align: center;
}

.loginbox input {
	padding: 8px 0 8px 0;
	margin: 5px 0 5px 0;
	width: 100%;
	text-align: center;
	border: 1px solid rgb(30, 31, 33);
}

.loginbox button {
	margin-top: 10px;
	margin-left: 1px;
	padding: 10px 0 10px 0;
	width: 100%;
	font-weight: bold;
	cursor: pointer;
	background-color: rgb(30, 31, 33);
	color: rgb(220, 222, 233);
	outline: 0;
	border: 2px solid rgb(30, 31, 33);
}

.password-container {
	position: relative;
	width: 100%;
}

.toggle-password {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	user-select: none;
	font-size: 16px;
	/* z-index: 10; */
}




.login-logo-left,
.login-logo-right {
	width: 150px;
	height: 63px;
	background-repeat: no-repeat;
}

.login-logo-left {
	background-image: url('/public/images/kalista-accounting-400x170.svg');
	background-size: 100% 100%;
}

.login-logo-right {
	background-image: url('/public/local/logo-128x32.svg');
	background-size: 100% 100%;
}